<%- layout('layouts/main.ejs') %>  

<div class="tarjeta_presentacion">
    <div class="header_presentacion">
        <h1>Bienvenido Usuario a tu perfil <%= user.name %></h1>
        <h2>Este es un perfil de clase <%= user.cuenta %></h2>
    </div>
    <div class="cuerpo_presentacion">
        <h3>Email: <%= user.email %></h3>
        <h3>Teléfono: <%= user.phone %></h3>
        
    </div>
    <div class="footer_presentacion">
        <h3>Cuenta creada en: <%= user.createdAt%></h3>
    </div>
</div>